@model List<HospitalProjectTeam4.Models.ForumPost>
@{
    ViewBag.Title = "List";
}

<div class="container">
    <h2 class="title">Forum Posts</h2>

    <a class="btn btn-success" href="/ForumPost/Add">Create a posting</a>

    <div class="paginate">
        @{
            <a href="/ForumPost/List?pagenum=@((int)ViewData["pagenum"]-1)">Prev</a>
            @ViewData["pagesummary"]
            <a href="/ForumPost/List?pagenum=@((int)ViewData["pagenum"]+1)">Next</a>
        }
    </div>

    <div class="list-group">

        @{
            foreach (var post in Model)
            {
                <a href="Show/@post.PostID" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">@post.PostingTitle</h3>
                        <p>By:@post.Patient.PatientFName @post.Patient.PatientLNmae</p>
                        <p class="mb-1">Category: @post.PostingCategory</p>
                        <small class="mb-1">@post.PostingDate</small>

                    </div>
                </a>

            }


        }
    </div>

</div>
