@model HospitalProjectTeam4.Models.ViewModels.ForumPostDetails
@{
    ViewBag.Title = "Show";
}
    <div class="container" id="show-record">
        <div class="back-btn" style="text-align:left;">
            <a href="/ForumPost/List">Go back to posts</a>
        </div>

        <div class="posting-view">
            <h2 class="title">@Model.forumPost.PostingTitle</h2>
            <small>@Model.forumPost.PostingDate</small>
            <p>By: @Model.forumPost.Patient.PatientFName @Model.forumPost.Patient.PatientLNmae</p>
            <div>@Model.forumPost.PostingCategory</div>
            <div>@Model.forumPost.PostingContent</div>

            <div class="edit-buttons">
                <a class="btn btn-warning" href="/ForumPost/Update/@Model.forumPost.PostID">Edit </a>
                <a class="btn btn-danger" href="/ForumPost/DeleteConfirm/@Model.forumPost.PostID"> Delete</a>
            </div>
        </div>
        <!-- Replies for the posting-->
        <div class="list-group">

            @{
                foreach (var reply in @Model.forumReplies)
                {
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">@reply.ReplyContent</p>
                                <small>By: @reply.Doctor.DoctorFName @reply.Doctor.DoctorLName</small>
                                <small class="mb-1">@reply.ReplyDate</small>
                                <div>
                                    <a href="/ForumPost/EditComment/@reply.ReplyID" >Edit</a>
                                    <a href="/ForumPost/DeleteComment/@reply.ReplyID?PostID=@Model.forumPost.PostID" >Delete</a>
                                </div>
                              
                                

                            </div>
                        </div>

                }


            }
        </div>
        <!-- Adding a new  comment to the post-->
        <form action="/ForumPost/AddComment/@Model.forumPost.PostID" method="post">
                <input type="text" class="" id="replyContent" placeholder="Write your comment here..." name="replyContent" style="width:80%;">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Comment</button>
        </form>
    </div>
